* { box-sizing: border-box; }

body {display: grid;
    grid-template-areas:
        "home"
        "hoursheader"
        "hours"
        "menuheader"
        "menu"
        "contactusheader"
        "contactus"
        "footer";
    background-color: #d0e1ee;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;}

#home {grid-area: "home";
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;}

#hoursheader {grid-area: "hoursheader";
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;}

#hours {grid-area: "hours";
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;}

#menuheader {grid-area: "menuheader";
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;}

#menu {grid-area: "menu";
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;}

#contactusheader {grid-area: "contactusheader";
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;}

#contactus {grid-area: "contactus";
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;}

#footer {grid-area: "footer";
        background-color: #0fabc2}

#wrapper{
    background-color: #d0e1ee;
    padding: 0% 2%;}

header{background-color: #dc929c;}

nav {position: sticky;
    top: 0;}

nav ul {list-style-type: none;
    padding: 0%;
    margin: 0%;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    background-color: #dc929c;}

nav li {padding: .5em 1em;
    width: 100%;
    border-bottom: 1px, solid;
    text-align: center;
    display:block;}
    
nav a {text-decoration: none;}

nav a:link{color: #000000;}
nav a:visited{color:#000000;}
nav a:hover{color: darkblue}
nav a:active{color:#0fabc2}

h1 {color: #06454c;
    text-align: center;}

h3{text-align: center;}

#logo {height:75px;}

#homehero{height: 425px;
    /*background-image: url(images/snowconecups.jpg);*/
    background-image: url(images/leafsnowcone.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;}

#intro {text-align: center;
        color: #06454c;}

.onehalf{float: left;
    width: 50%;}

img {
    border-style: none;
    max-width: 100%;
    height: auto;}

.hourspicture {height: 300px;
    float: center;
    border-style: solid;
    border-color: #06454c;
    border-width: 2%;}
/* #d47788 for pink shade*/

.onethird {float: left;
        height: 750px;
        width: 33.33%;
        padding: 3%;
        /*border-style: solid;
        border-color: #06454c;
        border-width: 4% 2%;*/}

.side {height: 300px;
        width: 400px;
        border-style: solid;
        border-color: #06454c;
        border-width: 2%;}

form { display: flex;
    flex-direction: column;
    padding-left: 1em; 
    width: 95%; }

input {float: left;}

#submit {float: right;}

